<mat-sidenav-container class="example-container">
  <mat-sidenav position="end" #sidenav mode="side" [(opened)]="opened">
    <app-calendar-controller></app-calendar-controller>
  </mat-sidenav>
  <mat-sidenav-content>
    <div>
    <button type="button" class="hamburger is-closed btn btn-warning" (click)="hamburger_cross()" [ngClass]="{'is-closed': isClosed, 'is-open': !isClosed}">
      <span class="hamb-top"></span>
      <span class="hamb-middle"></span>
      <span class="hamb-bottom"></span>
    </button>
  </div>
    <div class="row text-center">
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
            Previous
          </div>
          <div class="btn btn-primary" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="activeDayIsOpen = false">
            Next
          </div>
        </div>
      </div>
      <div class="col-md-2">
        <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):'en' }}</h3>
      </div>
      <div class="col-md-4">
        <div class="btn-group">
          <div class="btn btn-primary" (click)="view = 'month'" [class.active]="view === 'month'">
            Month
          </div>
          <div class="btn btn-primary" (click)="view = 'week'" [class.active]="view === 'week'">
            Week
          </div>
          <div class="btn btn-primary" (click)="view = 'day'" [class.active]="view === 'day'">
            Day
          </div>
        </div>
      </div>
    </div>
    <br>
    <div [ngSwitch]="view">
      <mwl-calendar-month-view *ngSwitchCase="'month'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" [activeDayIsOpen]="activeDayIsOpen" (dayClicked)="dayClicked($event.day)" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-month-view>
      <mwl-calendar-week-view *ngSwitchCase="'week'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-week-view>
      <mwl-calendar-day-view *ngSwitchCase="'day'" [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)">
      </mwl-calendar-day-view>
    </div>
    <br>
    <br>
    <br>
  </mat-sidenav-content>
</mat-sidenav-container>
