<div class="container color-dark">
  <div class="col">
    <p>Here will be the list of clients</p>
  </div>
  <div class="col">
    <p>Your clients ({{clientCount}})</p>
  </div>
</div>
<div class="container color-light">
  <div class="col">
    <p class="sm">Lets just add a new client</p>

    <form>
      <input type="text" class="txt" name="item" placeholder="New client.." [(ngModel)]="clientName">
      <input type="submit" class="btn" value = "{{ btnText }}" (click)="addClient()">
    </form>
  </div>
  <div class="col">
    <p class="life-container" *ngFor="let client of clients">
      {{client}}
    </p>
  </div>
</div>
